background {
      background-image: url('new-york-4285256_1280.jpg');
      font-family: Arial, sans-serif;
      text-align: center;
      background-size: cover;
      background-position: center;
      position: relative;
    }
    }
h1 {
      color: navy;
      position: relative;
      z-index: 1;
}
p {
      color: darkslategray;
      position: relative;
      z-index: 1;
}
