.background {
      background-image: url('new-york-4285256_1280.jpg');
      font-family: "Segoe UI", sans-serif;
      text-align: center;
      background-size: cover;
      background-position: center;
      position: relative;
    }
.background: :after {
  content: '';
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgb(255, 255, 255);
}
    }
h1 {
      color: navy;
      position: relative;
      z-index: 1;
}
p {
      color: darkslategray;
      position: relative;
      z-index: 1;
}
